{% extends 'base.html.twig' %}

{% block title %}Retarrosoir{% endblock %}

{% block body %}

<div class="add-post">
    <h2>Ajouter un post</h2>
    <a href="{{ path('app_post_new') }}" class="btn btn-primary">Ajouter un post</a>
</div>

{% endblock %}
