{% extends 'base.html.twig' %}

{% block title %}Retarrosoir{% endblock %}

{% block body %}

    {% for abonnement in abonnements %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ abonnement.getSuiviPersonneId().getUsername() }}</h5>
                <a href="{{ path('app_compte_show', {'id': abonnement.getSuiviPersonneId().getId()}) }}" class="btn btn-primary">Voir</a>
            </div>
        </div>
    {% endfor %}

{% endblock %}
