{% extends 'base.html.twig' %}

{% block title %}Créer un Compte{% endblock %}

{% block body %}

    <div class="container">
        <h1>Inscrivez-vous à retarrosoir</h1>
        {{ include('compte/_form.html.twig') }}
    </div>

{% endblock %}
