{% extends 'base.html.twig' %}

{% block title %}Créer un Compte{% endblock %}

{% block body %}

    <div class="container">
        <div class="card w-50 p-5 mx-auto my-5">
            <h1>Inscrivez-vous à retarrosoir</h1>
            {{ include('compte/_form.html.twig') }}
        </div>
    </div>

{% endblock %}
